.about-me{
width: 100%;
height: 80vh;
margin: 0 auto;
background-color: #202020;
display: flex;
align-items: center;
align-content: center;
text-align: center;
}

.about-container{
    width: 60%;
    height: 80%;
    /* background-color: yellow; */
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.about-img{
    max-width: 350px;
    height: 100%;
    background-color: red;
    border: 2px solid #d8d8d8;
}
.about-img img{
    max-width: 100%;
    height: 100%;
}
 .about-description{
    max-width: 60%;
    max-height: 60%;
    background-color: #FFF6D4;
    margin-top: 10%;
    margin-left: -10%;
    padding: 5px;
} 
.about-me h4{
    margin-top: 10px;
    font-family: 'Rufina';
}
.about-me p{
    font-family: 'Poppins';
    text-align: justify;
    text-justify: inter-word;
    line-height: 30px;
    font-size: 16px;
}
@media (max-width: 1150px){
    .about-container{
        flex-direction: column;
        /* background-color: aqua; */
    }
    .about-img{
        margin: 0 auto;
        max-height: 40%;
    }
    .about-description{
        margin: 0 auto;
        max-width: 100%;
        max-height: 60%;
    }
    .about-me p{
        line-height: 20px;
        font-size: 2vw;
    }
}

.hidden{
    opacity: 0;
    transition: all 1s;
}
.show{
    opacity: 1;
}
