.education{
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #d8d8d8;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;     
}

.education-container{
    width: 90%;
    height: 100%;
    /* background-color: aqua; */
    margin: 0 auto;
    display: flex;
    /* align-items: center; */
    /* align-content: center; */
    
}
.timeline-container{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* align-items: center; */
    /* background-color: yellow; */
}
.timeline-container span{
    width: 510px;
    min-height: 150px;
    /* background-color: red; */
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 10px;
    background-color: #202020;
    color: #F4F3F3;
    
}
.timeline-container h5{
    font-family: 'Rufina';
    font-size: 16px;
    margin-top: 10px;
}
.timeline-container ul{
    text-align: left;
    justify-items: center;
    /* margin-top: 10px; */
    padding: 10px;
}
.timeline-container ul li{
    text-decoration: none;
    list-style: none;
    font-family: 'poppins';
    font-size: 12px;
}
.timeline-container span:nth-child(odd){
    margin-left: 55px;
    border-right: 4px solid #CDAC84;
}
.timeline-container span:nth-child(even){
    margin-right: 55px;
    border-left: 4px solid #CDAC84;
}
@media (max-width: 1150px){

    .timeline-container span:nth-child(odd){
        margin-left: 0px;
        width: 100%;
        border: 4px solid #CDAC84;
    }
    .timeline-container span:nth-child(even){
        margin-right: 0px;
        width: 100%;
        border: 4px solid #CDAC84;
    }
 

}

.education-logo-container{
    width: 20%;
    height: 100%;
    /* text-align: center;
    align-self: center; */
    border-left: 5px solid #CDAC84;
    /* background-color: red; */
}
/* @media (min-width: 1150px){
    .education-logo-container{
        height: 730px;
    }
} */
.education-logo-container h4{
    /* margin-top: 20% ; */
    font-family: 'Rufina';
    font-size: 40px;
    margin-top: 45%;
    color: #CDAC84;
    background-color: #202020;
}
@media (max-width: 1150px){

    .education-logo-container{order: 1;}
    .timeline-container{order: 2;}
    .education-container{
        flex-direction: column;
    }
    .education-logo-container{
        width: 100%;
        max-height: 10%;
        border-left: none;
        border-bottom: 5px solid #CDAC84;
    }
    .education-logo-container h4{
        margin-top: 20px;
        
    }
}