.projects{
    width: 100%;
    min-height: 100vh;
    background-color: #d8d8d8;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects-logo-container{
    min-width: 60%;
    min-height: 100px;
    /* background-color: red; */
    margin-top: 20px;
    text-align: center;
    border-bottom: 5px solid #51A7BA;
}
.projects-logo-container h4{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    font-family: 'Rufina';
    font-size: 40px;
    margin-top: 25px;
    color: #51A7BA ;
    background-color: #202020;
    /* margin-top: 15px; */
}

.projects-items-container{
    width: 90%;
    min-height: 600px;
    background-color: #202020;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:10px;
    padding: 10px;
}

.card{
    border-radius: 0;
    background-color: #FFF6D4;
    /* width: auto; */
    /* max-height: 100%; */
}
.card-img-top{
    border-radius: 0;
    padding: 10px;
    background-color: #FFF6D4;
    width: 100%;
    height: 25vh;
    object-fit: cover;
}
.card-title{
    font-family: 'Rufina';
    text-align: center;
}
.card-text{
    font-family: 'poppins';
    /* font-size: 12px; */
}

.card-body{
    background-color: #FFF6D4;
}

.card-btn{
    border-radius: 0;
    margin: 0 auto;
}
.row{
    gap: 10px;
}

@media (max-width: 1350px){
    .projects-logo-container{
        min-width: 90%;
    }
}